{% extends 'admin/layout.twig' %}
{% block body %}
    <div class="row">
        <div class="col s12">
            <table class="centered highlight responsive-table">
                <thead>
                <tr>
                    <th>Cтатус</th>
                    <th>Особисті дані</th>
                    <th>Предмети</th>
                    <th>Дії</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {% if user.access == null %}
                            <a class='btn waves-effect orange'>
                                <i class="large  material-icons">priority_high</i>
                            </a>
                            {% elseif user.access == 'student' %}
                            <a class='btn waves-effect green'>
                                <i class="large  material-icons">school</i>
                            </a>
                            {% else %}
                            <a class='btn waves-effect green'>
                                <i class="large  material-icons">face</i>
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ user.surname }} {{ user.name }}</td>
                        <td>
                            <a class='dropdown-trigger btn show-subjects' id="dr-{{ user._id }}" data-id="{{ user._id }}" href='#' data-target='dropdown-{{ user._id }}'>
                                <i class="large material-icons">arrow_drop_down_circle</i>
                            </a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown-{{ user._id }}' class='dropdown-content'>
                                <li><a href="#!">one</a></li>
                                <li><a href="#!">two</a></li>
                            </ul>
                        </td>
                        <td>

                            <a class='btn waves-effect indigo modal-trigger' data-id="{{ user._id }}" href="#detail-info">
                                <i class="large  material-icons">assignment</i>
                            </a>
                            <a class='btn waves-effect green modal-trigger user-edit' id="{{ user._id }}" data-id="{{ user._id }}" href="#edit">
                                <i class="large  material-icons">mode_edit</i>
                            </a>
                            <a class='btn waves-effect red' data-id="{{ user._id }}">
                                <i class="large  material-icons">delete_forever</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Detail modal-->
    <div id="detail-info" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <table class="centered highlight responsive-table">
                        <thead>
                        <tr>
                            <th>Статус</th>
                            <th>Ім'я</th>
                            <th>Прізвище</th>
                            <th>Пошта</th>
                            <th>Телефон</th>
                            <th>Предмети</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <a class='btn waves-effect green'>
                                    <i class="large  material-icons">school</i>
                                </a>
                            </td>
                            <td>Костянтин</td>
                            <td>Мінков</td>
                            <td>fokkiminkov@gmail.com</td>
                            <td>+380660682022</td>
                            <td>
                                <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>
                                    <i class="large material-icons">arrow_drop_down_circle</i>
                                </a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown2' class='dropdown-content'>
                                    <li><a href="#!">one</a></li>
                                    <li><a href="#!">two</a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END Detail modal -->
    {% include 'admin/includes/modal-update.twig' %}
    <script>
        $(document).ready(function () {

            $('body').on('click', '._add_new_subject', function () {
                var id = $(this).data('id');
                $("#add_new_subject").attr('data-id', id);
                $('.dropdown-trigger').dropdown();
            });
            $(".show-subjects").on('click', function () {
                var id = $(this).data('id');
                console.log(id);

                $.ajax({
                    type: "GET",
                    url: '/api/admin/subject/' + id,
                    dataType: 'json',
                }).done(function (result) {
                    console.log("dropdown-" + id);
                    $("#dropdown-" + id).html(result);

                }).catch(function (result) {
                    console.log("dropdown-" + id);
                    $("#dropdown-" + id).html(result.responseText);

                })
            })
        });
    </script>

{% endblock body %}
