<div class="modal-content">
    <div class="row">
        <form class="col s12" id="auth-form">

            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" class="validate update-name" value="{{ user.name }}">
                    <label for="name">Ім'я<b>*</b></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">assignment</i>
                    <input id="surname" type="text" class="validate update-surname" value="{{ user.surname }}">
                    <label for="surname">Прізвище<b>*</b></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="text" class="validate update-email" value="{{ user.email }}">
                    <label for="email">Email <b>*</b></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone" type="text" class="validate update-phone" value="{{ user.phone }}">
                    <label for="phone">Телефон</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">folder_shared</i>
                    <select name="select" class="update-access">
                        {% if user.access == 'teacher' %}
                            <option value="teacher">Викладач</option>
                            <option value="student">Студент</option>
                            <option value="null">Невизначений</option>
                        {% endif %}
                        {% if user.access == 'student' %}
                            <option value="student">Студент</option>
                            <option value="teacher">Викладач</option>
                            <option value="null">Невизначений</option>
                        {% endif %}
                        {% if user.access == null %}
                            <option value="null">Невизначений</option>
                            <option value="teacher">Викладач</option>
                            <option value="student">Студент</option>
                        {% endif %}

                    </select>
                    <label>Виберіть статус</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">grid_on</i>
                    <select name="new_subject" id="del_subject">
                        {% if subjects != null %}
                            {% for subject in subjects %}
                                <option value="{{ subject._id }}">{{ subject.groupNumber }} - {{ subject.title }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <label>Предмети</label>
                </div>
                <div class="input-field col s2">
                    <a class='btn waves-effect green modal-trigger _add_new_subject' data-id="{{ user._id }}" href="#add-subject">
                        <i class="large  material-icons">add_circle</i>
                    </a>
                    <a class='btn waves-effect red remove-subject' data-id="{{ user._id }}">
                        <i class="large  material-icons">remove_circle</i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">security</i>
                    <input id="password" type="text" class="validate update-password">
                    <label for="password">Новий пароль <b>*</b></label>
                </div>
            </div>
            <div class="row">
                <button class=" col s8 offset-s2 waves-effect waves-light btn" id="register-action">Зберегти
                </button>
            </div>
        </form>
    </div>
</div>

